---
import ImgUser from "../assets/3.png";
import { sidebarLabels } from "../data/ui"; // Importamos tus etiquetas

// Lógica de detección de idioma
const { pathname } = Astro.url;
const lang = pathname.startsWith("/es") ? "es" : "en";
const t = sidebarLabels[lang];

const uiConfig = {
  icons: {
    email: "fas fa-envelope",
    phone: "fas fa-phone",
    github: "fab fa-github",
    certDefault: "fas fa-certificate",
    download: "fas fa-file-pdf",
  },
};

const contactPlaceholder = [
  { text: "lorem.ipsum@email.com", icon: uiConfig.icons.email },
  { text: "+00 000 000 000", icon: uiConfig.icons.phone },
  { text: "github.com/loremipsum", icon: uiConfig.icons.github },
];

const certificationsPlaceholder = [
  { name: "Lorem Ipsum Dolor Sit", icon: uiConfig.icons.certDefault },
  { name: "Consectetur Adipiscing", icon: uiConfig.icons.certDefault },
  { name: "Sed Do Eiursmod Tempor", icon: uiConfig.icons.certDefault },
];
---

<div class="media mb-3">
  <div class="media-content">
    <div class="is-flex is-justify-content-center">
      <figure class="image is-128x128">
        <img src={ImgUser.src} alt="Profile" class="is-rounded" />
      </figure>
    </div>
  </div>
</div>

<div class="media mt-1">
  <div class="menu ml-4">
    <p class="menu-label">{t.contact}</p>
    <ul class="menu-list">
      {
        contactPlaceholder.map((item) => (
          <li>
            <div class="px-3 py-1 is-flex is-align-items-center">
              <span class="icon mr-3">
                <i class={item.icon} />
              </span>
              <span class="is-size-7">{item.text}</span>
            </div>
          </li>
        ))
      }
    </ul>

    <p class="menu-label">{t.certs}</p>
    <ul class="menu-list">
      {
        certificationsPlaceholder.map((cert) => (
          <li>
            <div class="px-3 py-1 is-flex is-align-items-center">
              <span class="icon mr-3">
                <i class={cert.icon} />
              </span>
              <span class="is-size-7">{cert.name}</span>
            </div>
          </li>
        ))
      }
    </ul>

    <p class="menu-label">{t.cv}</p>
    <div class="px-2">
      <button class="button is-fullwidth is-link is-outlined">
        <span class="icon">
          <i class={uiConfig.icons.download}></i>
        </span>
        <span>{t.downloadBtn}</span>
      </button>
    </div>

    <p class="menu-label">Modal</p>
    <div class="px-2">
      <button class="button is-link is-outlined is-fullwidth mt-4 open-contact">
        <span class="icon">
          <i class="fas fa-paper-plane"></i>
        </span>
        <span>{t.modalBtn}</span>
      </button>
    </div>
  </div>
</div>
