---
const { data, config } = Astro.props;
---

<div class="container mb-5">
  <div class="is-flex is-align-items-center">
    <span class="icon mr-2">
      <i class={config.headerIcon}></i>
    </span>
    <h2 class="title">{data.header}</h2>
  </div>
</div>

<div class="container">
  <div class="columns is-multiline">
    {
      data.groups.map((group) => (
    <div class="column is-12-mobile is-6-tablet is-6-desktop">
          <div class="box">
            <div class="level is-mobile mb-3">
              <div class="level-left">
                <div class="level-item">
                  <span class="icon is-small mr-2">
                    <i class={config.categoryIcon} />
                  </span>
                  <p class="heading mb-0">{group.category}</p>
                </div>
              </div>
              <div class="level-right">
                <div class="level-item">
                  <span class="tag ">{group.status}</span>
                </div>
              </div>
            </div>

            <div class="tags">
              {group.skills.map((skill) => (
                <span class="tag">{skill}</span>
              ))}
            </div>
          </div>
        </div>
      ))
    }
  </div>

  <div class="container mt-4">
    <p class="">
      {data.footerText}
      <strong>{data.footerValue}</strong>
    </p>
  </div>
</div>
